@page
@model İletişimModel
@{
    ViewData["Title"] = "İletişim ";
}
<div class="text-center">
    <h1 class="display-4">İletişim sayfası</h1>

</div>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


