@page
@model Web_Projesi.Pages.RandevuModel
@{
}
<div class="text-center">
    <h1 class="display-4">Randevu sayfası</h1>

</div>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>