@{
    ViewData["Title"] = "Sonuç";
}

<h2>@ViewData["Title"]</h2>

@if (Model != null)
{
    <img src="@Model" alt="Generated Image" />
}
else
{
    <p>Henüz bir sonuç alınamadı. Lütfen tekrar deneyin.</p>
}
