@model WebProje.Models.Islem

<div class="container mt-5">
    <a asp-controller="Islem" asp-action="Index" class="btn btn-secondary">Geri</a>

    <h2>Yeni İşlem Ekle</h2>

    <a asp-controller="Islem" asp-action="Index" class="btn btn-secondary">Geri</a>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="Ad">İşlem Adı</label>
            <input type="text" id="Ad" name="Ad" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="Ucret">İşlem Ücreti</label>
            <input type="number" id="Ucret" name="Ucret" class="form-control" step="0.01" required />
        </div>
        <div class="form-group">
            <label for="Sure">İşlem Süresi (Dakika)</label>
            <input type="number" id="Sure" name="Sure" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">İşlem Ekle</button>
    </form>
</div>
