@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <p>Hoş geldiniz, burada yönetim paneline erişebilirsiniz.</p>

    <div class="mt-4">
        <h3>İşlemler</h3>
        <ul class="list-unstyled">
            <li class="mb-3">
                <a asp-controller="Calisan" asp-action="Index" class="btn btn-primary">Çalışan Listesini Gör</a>
            </li>
            <li class="mb-3">
                <a asp-controller="Randevu" asp-action="Index" class="btn btn-success">Randevuları Gör</a>
            </li>
            <li class="mb-3">
                <a asp-controller="Islem" asp-action="Index" class="btn btn-warning">İşlemleri Görüntüle (REST API sorgulama)</a>
            </li>
        </ul>

        <h3>Kullanıcı İşlemleri</h3>

        <ul class="list-unstyled">
            <li class="mb-3">
                <a asp-controller="Randevu" asp-action="Create" class="btn btn-primary">Randevu</a>
            </li>
            <li class="mb-3">
                <a asp-controller="AI" asp-action="Index" class="btn btn-success">Yapay Zeka</a>
            </li>
        </ul>
    </div>
</div>
